.slogan {
    color: white;
    width: 100%; height: 30px;
    background: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: century;
}
.menu {
    width: calc(100% - 30px); height: 80px;
    background: black;
    padding: 15px;
    display: flex;
    align-items: center;
    position: relative;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.homebutton {
    width: 70px; height: 70px;
    position: absolute;
    left: calc(5% - 15px);
}
.logo {
    height: 70px; width: 70px;
    background-size: 100% 100%;
    position: absolute;
    left: calc(5% + 15px);
}
.cartbutton {
    width: 40px; height: 40px;
    background: rgb(91, 36, 122);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: calc(5% + 15px);
}
.cartbutton:hover {
    background-color: rgb(50, 36, 122);
    cursor: pointer;
}
.cart {
    background-image: url(https://th.bing.com/th/id/R.00dc54fe03a8b808f6c9b5ff65ac906d?rik=APohceGRT6eFxQ&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_61586.png&ehk=83y0rfKOZSms07DTB69qWEjqrrzGf3x8XcPjyUeSKvM%3d&risl=&pid=ImgRaw&r=0);
    height: 20px; width: 20px;
    background-size: 100% 100%;
    margin-left: 5%;
    background-size: 100%;
}
.imgcart {
    width: 20px; height: 20px;
}
.products {
    width: 20%; height: 40px;
    background-color: rgb(91, 36, 122);
    border: 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 0 auto;
}
.products:hover {
    background-color: rgb(50, 36, 122);
    cursor: pointer;
}

#cartao{
    width: calc(40% - 4%); height: calc(80% - 4%);
    min-width: fit-content;
    min-height: fit-content;
    background-color: black;
    margin-right: 30px;
    color: white;
    align-items: center;
    border-radius: 5px;
    padding: 2%;
    animation: transitionIn 0.75s;
}
#pix{
    width: calc(40% - 4%); height: calc(80% - 4%);
    min-width: fit-content;
    min-height: fit-content;
    background-color: black;
    margin-left: 30px;
    color: white;
    border-radius: 5px;
    padding: 2%;
    animation: transitionIn 0.75s;
}
#compra, #fpix {
    display: grid;
}

.fundo {
    width: calc(99% - 1%); height:calc(100% - 4%);
    background-image: linear-gradient(rgb(91, 36, 122), rgb(27, 206, 223));
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.cards{
    margin-top: 3%;
    margin-left: 35%;
    margin-right: 35%;
    color: black;
    border: solid 3px rgb(91, 36, 122);
    border-radius: 3px;
    background: white;
    display: block;
    float: left;
    padding: 10px;
    margin-bottom: 5%;
}
#nome_compra, #cartao_compra {
    margin-left: 20%;
    margin-right: 20%;
    height: 70%;
    margin-bottom: 5%;
    border-radius: 20px;
}
#codigoseg_compra {
    margin-left: 20%;
    margin-right: 20%;
    height: 50%;
    border-radius: 20px;
}
.title, .buttons, .valort {
    margin-bottom: 0;
    font-size: 24px;
}
.titlecard {
    margin-bottom: 5%;
    font-size: 30px;
}
#expdate_compra, #codigoseg_compra {
    margin-left: 20%;
    margin-right: 20%;
    height: 50%;
    margin-bottom: 5%;
    border-radius: 20px;
}
.qrcode{
    width: 40%;
    height: 100%;
    min-width: fit-content;
    min-height: fit-content;
    border-radius: 5px;
    margin-left: 30%;
    margin-right: 30%;
}
.titlepix {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    min-width: fit-content;
    min-height: fit-content;
}


.botao_comprar {
    background: purple;
    border-radius: 10px;
    color: white;
    position: relative;
    bottom: 5px;
}
.botao_comprar:hover {
    background: rgb(50, 36, 122);
    cursor: pointer;
}
.buttons {
    background: purple;
    color: white;
    margin: 0 auto;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    padding: 2%;
}
.buttons:hover {
    background: rgb(50, 36, 122);
    cursor: pointer;
}
footer {
    background-color: rgb(40, 40, 40);
    width: 100%; height: 100px;
    text-align: center;
    padding-top: 2%;
    display: block;
}
.contact {
    color: white;
}
.inform {
    color: white;
    margin-top: 7px;
    text-decoration: none;
}
.linkimg {
    margin-top: 7px;
    width: 30px; height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.logo {
    height: 80px; width: 80px;
    background-size: 100% 100%;
    position: absolute;
    left: calc(5% + 15px);
}

@keyframes transitionIn{
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
